---
- name: Deploy Docker Container from GitHub Packages
  hosts: all
  become: yes
  vars:
    docker_image: "ghcr.io/jcbowery/devops-hello-world/devops_hello_world:latest"
    container_name: "devops_hw"

  tasks:
    - name: Install dependencies on Debian-based systems
      apt:
        name: "{{ item }}"
        state: present
        update_cache: yes
      loop:
        - apt-transport-https
        - ca-certificates
        - curl
        - gnupg
        - lsb-release
      when: ansible_facts['os_family'] == "Debian"

    - name: Install dependencies on RedHat-based systems
      yum:
        name: "{{ item }}"
        state: present
      loop:
        - ca-certificates
        - curl
        - gnupg
        - redhat-lsb-core
      when: ansible_facts['os_family'] == "RedHat"

    - name: Install Docker
      apt:
        name: docker.io
        state: present
        update_cache: yes

    - name: Start Docker service
      service:
        name: docker
        state: started
        enabled: yes

    - name: Log in to GitHub Container Registry (optional, if needed)
      command: docker login ghcr.io -u USERNAME -p {{ lookup('env', 'GHCR_TOKEN') }}
      when: lookup('env', 'GHCR_TOKEN') != ""

    - name: Pull Docker image
      docker_image:
        name: "{{ docker_image }}"
        source: pull

    - name: Remove existing container (if any)
      docker_container:
        name: "{{ container_name }}"
        state: absent
      ignore_errors: yes

    - name: Run Docker container
      docker_container:
        name: "{{ container_name }}"
        image: "{{ docker_image }}"
        state: started
        restart_policy: always
        ports:
          - "80:4000"
        env:
          SECRET_KEY_BASE: "{{ lookup('env', 'SECRET_KEY_BASE') }}"
          DATABASE_APTH: "{{ lookup('env', 'DATABASE_PATH') }}"

